<app-navbar>
</app-navbar>
<div class="max-w-[1350px] mx-auto h-screen">
  <aside>
    <ul>
      <li><i class="fa-brands fa-trello"></i>Boards</li>
      <li><i class="fa-solid fa-shapes"></i>Templates</li>
      <li><i class="fa-solid fa-arrow-trend-up"></i>Home</li>
    </ul>
    <p>Workspaces<i class="fa-solid fa-plus"></i></p>
    <ul>
      <li>
        <div><span>N</span> Juan David's workspace <i class="fa-solid fa-chevron-up"></i></div>
        <ul>
          <li>
            <i class="fa-brands fa-trello"></i>Boards
          </li>
          <li>
            <i class="fa-regular fa-heart"></i>Highlights
          </li>
          <li>
            <i class="fa-solid fa-table-cells-large"></i>Views
          </li>
          <li>
            <i class="fa-solid fa-user-group"></i>Members<i class="fa-solid fa-plus"></i>
          </li>
          <li>
            <i class="fa-solid fa-gear"></i>Settings
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  <main>
    <section>
      <div>
        <i class="fa-regular fa-clock"></i> Recently viewed
      </div>
      <ul>
        <li>
          Demo
        </li>
      </ul>
    </section>

    <section>
      <h2>YOUR WORKSPACES</h2>

      <div>
        <span>N</span> Juan David's workspace <ul>
          <li>
            <i class="fa-brands fa-trello"></i>Boards
          </li>
          <li>
            <i class="fa-regular fa-heart"></i>Highlights
          </li>
          <li>
            <i class="fa-solid fa-table-cells-large"></i>Views
          </li>
          <li>
            <i class="fa-solid fa-user-group"></i>Members (1)
          </li>
          <li>
            <i class="fa-solid fa-gear"></i>Settings
          </li>
          <li>
            <i class="fa-solid fa-briefcase"></i>Settings
          </li>
        </ul>
      </div>
      <ul>
        <li>
          Demo
        </li>
        <li>
          Create new board
        </li>
      </ul>
      <button type="button">View all closed tabs</button>
    </section>
  </main>
</div>
