<section class="h-screen w-screen">
  <div class="flex justify-center py-5 align-top sm:h-[120px] ">
    <img
      class="w-[200px] object-contain"
      src="assets/img/trello-logo/logo-gradient-blue-trello.svg"
      alt="trello logo"
    />
  </div>
  <section class="mx-auto max-w-[400px] sm:border-[1px] sm:rounded-md sm:shadow-xl pt-1">
    <h1 class="transition-all text-md mt-2 mb-5 text-center font-semibold sm:mt-8">
      Log in to Trello
    </h1>
    <form class="flex flex-col gap-5 py-3 px-10">
      <input
        class="outline-none border-gray-300 rounded-sm border-2 focus:border-blue-400 bg-gray-100 text-sm text-slate-700"
        placeholder="Enter email"
        type="email"
      />
      <input
        class="outline-none border-gray-300 rounded-sm border-2 focus:border-blue-400 bg-gray-100 text-sm text-slate-700"
        placeholder="Enter password"
        type="email"
      />
      <button
        class="bg-green-600 py-2 rounded-md text-white font-semibold"
        type="submit"
      >
        Continue
      </button>
    </form>
  </section>
  <div class="top-0 left-0 z-[-900]">
    <img
      alt="bg left"
      class="absolute bottom-0 hidden drop-shadow-md transition-all sm:block sm:w-[400px] sm:max-w-[30%]"
      src="assets/img/login-bg/left-image.svg"
    />
    <img
      alt="bg right"
      class="absolute bottom-0 right-0 hidden drop-shadow-md transition-all sm:block sm:w-[400px] sm:max-w-[30%]"
      src="assets/img/login-bg/right-image.svg"
    />
  </div>
</section>
